# Competition: Sberbank Russian Housing Market

Group Members:
* Bayan Ali
* Majid Sohrabi

Group: ISSA (Data Science)

# Data Preprocessing

In [84]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import datetime

In [85]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [86]:
#load data
train = pd.read_csv('/content/drive/MyDrive/MLDM-Competition-HSE/Data/train.csv', parse_dates=['timestamp'])
test = pd.read_csv('/content/drive/MyDrive/MLDM-Competition-HSE/Data/test.csv', parse_dates=['timestamp'])

In [87]:
train[:5]

   id  timestamp  full_sq  ...  sport_count_5000  market_count_5000  price_doc
0   1 2011-08-20       43  ...                52                  4    5850000
1   2 2011-08-23       34  ...                66                 14    6000000
2   3 2011-08-27       43  ...                67                 10    5700000
3   4 2011-09-01       89  ...                26                  3   13100000
4   5 2011-09-05       77  ...               195                 14   16331452

[5 rows x 292 columns]

In [88]:
test[:5]

      id  timestamp  ...  sport_count_5000  market_count_5000
0  30474 2015-07-01  ...                14                  1
1  30475 2015-07-01  ...                12                  1
2  30476 2015-07-01  ...                71                 11
3  30477 2015-07-01  ...                 2                  0
4  30478 2015-07-01  ...                11                  1

[5 rows x 291 columns]

In [89]:
id_test = test.id
id_train = train.id

In [90]:
#preprocessing Data / cleaning Data
# Train Data
# 1.full_sq: total area in square meters, including loggias, balconies and other non-residential areas
# life_sq: living area in square meters, excluding loggias, balconies and other non-residential areas
# so life_sq <= full_sq and if life_sq > full_sq we will put NaN 
index = train[train.life_sq > train.full_sq].index
train.iloc[index]["life_sq"] = np.NaN
# 2. Put NaN when life_sq < 5
index = train[train.life_sq < 5].index
train.iloc[index]["life_sq"] = np.NaN
# 3. Put NaN when full_sq < 5
index = train[train.full_sq < 5].index
train.iloc[index]["full_sq"] = np.NaN
# 4. train.iloc[13117]["kitch_sq"] = 1970.0  # the value should be for build_year
train.iloc[13117]["build_year"] = train.iloc[13117]["kitch_sq"]
# 5. kitch_sq should be < life_sq so if kitch_sq >= life_sq ==> NaN
index = train[train.kitch_sq >= train.life_sq].index
train.iloc[index]["kitch_sq"] = np.NaN
# 6. if  num_room = 0 ==> num_room = NaN
index = train[train.num_room == 0].index 
train.iloc[index]["num_room"] = np.NaN
# 7. replace with NaN if num romm >= 6 
#index = [10076, 11621, 17764, 19390, 24007, 26713, 29172]
index = train.iloc[(train.num_room >= 6).values].index
train.iloc[index]["num_room"] = np.NaN
# 8. 
index = train[train.floor == 0].index
train.iloc[index]["floor"] = np.NaN
index = train[train.max_floor == 0].index
train.iloc[index]["max_floor"] = np.NaN
# 9. floor should be <= max floor
index = train[train.floor > train.max_floor].index
train.iloc[index]["max_floor"] = np.NaN
# 10. there are just 4 conditions
index = train.iloc[(train.state >= 5).values].index
train.iloc[index]["state"] = np.NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [91]:
# Test Data
# 1. Same in pint 1 for train data.
index = test[test.life_sq > test.full_sq].index
test.iloc[index]["life_sq"] = np.NaN
# 2. life_sq for these index [601,1896,2791] equal full_sq but need (.)
index = [601,1896,2791]
test.iloc[index]["life_sq"] = test.iloc[index]["full_sq"]
# 3. Put NaN when life_sq < 5
index = test[test.life_sq < 5].index
test.iloc[index]["life_sq"] = np.NaN
# 4. Put NaN when full_sq < 5
index = test[test.full_sq < 5].index
test.iloc[index]["full_sq"] = np.NaN
# 5. kitch_sq should be < life_sq so if kitch_sq >= life_sq ==> NaN
index = test[test.kitch_sq >= test.life_sq].index
test.iloc[index]["kitch_sq"] = np.NaN
# 6. if  num_room = 0 ==> num_room = NaN
index = test[test.num_room == 0].index 
test.iloc[index]["num_room"] = np.NaN
# 7. 
bad_index = [3174, 7313]
test.iloc[bad_index]["num_room"] = np.NaN
# 8.
index = test[test.max_floor == 0].index
test.iloc[index]["max_floor"] = np.NaN
index = test[test.floor == 0].index
test.iloc[index]["floor"] = np.NaN
# 9. 
index = test[test.floor > test.max_floor].index
test.iloc[index]["max_floor"] = np.NaN

# 10.
index = test.iloc[(test.state >= 5).values].index
test.iloc[index]["state"] = np.NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
train.product_type.value_counts(normalize= True)
test.product_type.value_counts(normalize= True)

Investment       0.655132
OwnerOccupier    0.344868
Name: product_type, dtype: float64

In [93]:
train['month'] = train.timestamp.dt.month
train['day'] = train.timestamp.dt.dayofweek

test['month'] = test.timestamp.dt.month
test['day'] = test.timestamp.dt.dayofweek

In [94]:
# Add some other feature engineering
train['rel_floor'] = train['floor'] / train['max_floor'].astype(float)
train['rel_kitch_sq'] = train['kitch_sq'] / train['full_sq'].astype(float)

test['rel_floor'] = test['floor'] / test['max_floor'].astype(float)
test['rel_kitch_sq'] = test['kitch_sq'] / test['full_sq'].astype(float)

train['room_size'] = train['life_sq'] / train['num_room'].astype(float)
test['room_size'] = test['life_sq'] / test['num_room'].astype(float)

In [95]:
y_train = train["price_doc"]
x_train = train.drop(["id", "timestamp", "price_doc"], axis=1)
x_test = test.drop(["id", "timestamp"], axis=1)

In [96]:
for c in x_train.columns:    
    if x_train[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()  ## Encode target labels with value between 0 and n_classes-1.
        lbl.fit(list(x_train[c].values))  # Fit label encoder.
        x_train[c] = lbl.transform(list(x_train[c].values)) # Fit label encoder and return encoded labels.

for c in x_test.columns:
    if x_test[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(x_test[c].values)) 
        x_test[c] = lbl.transform(list(x_test[c].values))

In [97]:
x_train.describe()

            full_sq       life_sq  ...  rel_kitch_sq     room_size
count  30471.000000  24088.000000  ...  20897.000000  1.675700e+04
mean      54.214269     34.403271  ...      0.131271           inf
std       38.031487     52.285733  ...      0.737130           NaN
min        0.000000      0.000000  ...      0.000000  0.000000e+00
25%       38.000000     20.000000  ...      0.025000  1.433333e+01
50%       49.000000     30.000000  ...      0.126984  1.600000e+01
75%       63.000000     43.000000  ...      0.173077  1.900000e+01
max     5326.000000   7478.000000  ...     63.677419           inf

[8 rows x 294 columns]

# First Model

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV
import xgboost as xgb
from xgboost.sklearn import XGBRegressor

#No need to run this part of code

In [ ]:
xgb1 = XGBRegressor()
parameters = {'nthread':[5], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [.01, .09], #so called `eta` value
              'max_depth': [7, 9],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [1000]}

In [ ]:
xgb_grid = GridSearchCV(xgb1,
                        parameters,
                        cv = 3,
                        n_jobs = 5,
                        verbose=True)

In [ ]:

xgb_grid.fit(x_train, y_train)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

GridSearchCV(cv=3, estimator=XGBRegressor(), n_jobs=5,
             param_grid={'colsample_bytree': [0.7],
                         'learning_rate': [0.01, 0.09], 'max_depth': [7, 9],
                         'min_child_weight': [4], 'n_estimators': [1000],
                         'nthread': [5], 'objective': ['reg:linear'],
                         'silent': [1], 'subsample': [0.7]},
             verbose=True)

In [ ]:
print(xgb_grid.best_score_)
print(xgb_grid.best_params_)

0.6266358150679469
{'colsample_bytree': 0.7, 'learning_rate': 0.01, 'max_depth': 7, 'min_child_weight': 4, 'n_estimators': 1000, 'nthread': 5, 'objective': 'reg:linear', 'silent': 1, 'subsample': 0.7}

# First Trial

In [ ]:
#First trial
xgb1 = XGBRegressor(colsample_bytre = 0.7, 
  learning_rate = 0.03,
  max_depth = 5,
  min_child_weight = 4,
  n_estimators = 500,
  nthread = 4, 
  objective = 'reg:linear',
  silent = 1, 
  subsample = 0.7)

In [ ]:
xgb1.fit(x_train,y_train)

XGBRegressor(colsample_bytre=0.7, learning_rate=0.03, max_depth=5,
             min_child_weight=4, n_estimators=500, nthread=4, silent=1,
             subsample=0.7)

In [ ]:
score = xgb1.score(x_train, y_train)  
print("Training score: ", score)

Training score:  0.8289546516644957

In [ ]:
y_predict = xgb1.predict(x_test)
#y_predict = np.expm1(y_predict * 0.99)
output = pd.DataFrame({'id': id_test, 'price_doc': y_predict})
output.head()

      id  price_doc
0  30474  5727185.5
1  30475  8493160.0
2  30476  5508238.5
3  30477  5940526.5
4  30478  5209227.5

In [ ]:
output.to_csv('xgb1.csv', index=False)

# Second trial

In [ ]:
xgb2 = XGBRegressor(colsample_bytree = 0.7, 
                    learning_rate = 0.01, 
                    max_depth = 7,
                    min_child_weight = 4,
                    n_estimators  = 1000,
                    nthread =  5,
                    objective = 'reg:linear',
                    silent = 1,
                    subsample = 0.7)

In [ ]:
xgb2.fit(x_train,y_train)

XGBRegressor(colsample_bytree=0.7, learning_rate=0.01, max_depth=7,
             min_child_weight=4, n_estimators=1000, nthread=5, silent=1,
             subsample=0.7)

In [ ]:

score = xgb2.score(x_train, y_train)  
print("Training score: ", score)

Training score:  0.8712011076776839

In [ ]:
y_predict = xgb2.predict(x_test)
output = pd.DataFrame({'id': id_test, 'price_doc': y_predict})
output.head()

      id  price_doc
0  30474  5495654.5
1  30475  8389220.0
2  30476  5525753.5
3  30477  5843437.0
4  30478  5117540.5

In [ ]:
output.to_csv('xgb2.csv', index=False)

# Neural Network

In [98]:
import keras
import tensorflow as tf
import numpy as np
import pandas as pd

In [65]:
'''

def convert_to_float(x):
    try:
        return np.float(x)
    except:
        return np.nan

x_train = convert_to_float(x_train)
x_test = convert_to_float(x_test)
y_train = convert_to_float(y_train)

''';

In [99]:
# Convert y_train to DataFrame
y_train = pd.DataFrame(y_train)
type(y_train)

pandas.core.frame.DataFrame

In [100]:
x_train = x_train.replace([np.inf, -np.inf], np.nan)
x_test = x_test.replace([np.inf, -np.inf], np.nan)
y_train = y_train.replace([np.inf, -np.inf], np.nan)

In [101]:
# Replace NaN with 0
x_train = x_train.replace(np.nan, 0.0)
x_test = x_test.replace(np.nan, 0.0)
y_train = y_train.replace(np.nan, 0.0)

In [102]:
x_train.head()

   full_sq  life_sq  floor  max_floor  ...  day  rel_floor  rel_kitch_sq  room_size
0       43     27.0    4.0        0.0  ...    5        0.0           0.0        0.0
1       34     19.0    3.0        0.0  ...    1        0.0           0.0        0.0
2       43     29.0    2.0        0.0  ...    5        0.0           0.0        0.0
3       89     50.0    9.0        0.0  ...    3        0.0           0.0        0.0
4       77     77.0    4.0        0.0  ...    0        0.0           0.0        0.0

[5 rows x 294 columns]

In [105]:
x_train.drop(['cafe_count_5000',
                                  'cafe_count_5000_na_price',
                                  'cafe_count_5000_price_1000',
                                  'cafe_count_5000_price_1500',
                                  'cafe_count_5000_price_2500',
                                  'cafe_count_5000_price_4000',
                                  'cafe_count_5000_price_500',
                                  'cafe_count_5000_price_high',
                                  'cafe_avg_price_1000',
                                  'cafe_avg_price_1500',
                                  'cafe_avg_price_2000',
                                  'cafe_avg_price_3000',
                                  'cafe_avg_price_500',
                                  'cafe_avg_price_5000',
                                  'cafe_count_1000',
                                  'cafe_count_1000_na_price',
                                  'cafe_count_1000_price_1000',
                                  'cafe_count_1000_price_1500',
                                  'cafe_count_1000_price_2500',
                                  'cafe_count_1000_price_4000',
                                  'cafe_count_1000_price_500',
                                  'cafe_count_1000_price_high',
                                  'cafe_count_1500',
                                  'cafe_count_1500_na_price',
                                  'cafe_count_1500_price_1000',
                                  'cafe_count_1500_price_1500',
                                  'cafe_count_1500_price_2500',
                                  'cafe_count_1500_price_4000',
                                  'cafe_count_1500_price_500',
                                  'cafe_count_1500_price_high',
                                  'cafe_count_2000',
                                  'cafe_count_2000_na_price',
                                  'cafe_count_2000_price_1000',
                                  'cafe_count_2000_price_1500',
                                  'cafe_count_2000_price_2500',
                                  'cafe_count_2000_price_4000',
                                  'cafe_count_2000_price_500',
                                  'cafe_count_2000_price_high',
                                  'cafe_count_3000',
                                  'cafe_count_3000_na_price',
                                  'cafe_count_3000_price_1000',
                                  'cafe_count_3000_price_1500',
                                  'cafe_count_3000_price_2500',
                                  'cafe_count_3000_price_4000',
                                  'cafe_count_3000_price_500',
                                  'cafe_count_3000_price_high',
                                  'cafe_count_500',
                                  'cafe_count_500_na_price',
                                  'cafe_count_500_price_1000',
                                  'cafe_count_500_price_1500',
                                  'cafe_count_500_price_2500',
                                  'cafe_count_500_price_4000',
                                  'cafe_count_500_price_500',
                                  'cafe_count_500_price_high',
                                  'cafe_sum_1000_max_price_avg',
                                  'cafe_sum_1000_min_price_avg',
                                  'cafe_sum_1500_max_price_avg',
                                  'cafe_sum_1500_min_price_avg',
                                  'cafe_sum_2000_max_price_avg',
                                  'cafe_sum_2000_min_price_avg',
                                  'cafe_sum_3000_max_price_avg',
                                  'cafe_sum_3000_min_price_avg',
                                  'cafe_sum_5000_max_price_avg',
                                  'cafe_sum_5000_min_price_avg',
                                  'cafe_sum_500_max_price_avg',
                                  'cafe_sum_500_min_price_avg'], axis=1, inplace=True)

x_test.drop(['cafe_count_5000',
                                  'cafe_count_5000_na_price',
                                  'cafe_count_5000_price_1000',
                                  'cafe_count_5000_price_1500',
                                  'cafe_count_5000_price_2500',
                                  'cafe_count_5000_price_4000',
                                  'cafe_count_5000_price_500',
                                  'cafe_count_5000_price_high',
                                  'cafe_avg_price_1000',
                                  'cafe_avg_price_1500',
                                  'cafe_avg_price_2000',
                                  'cafe_avg_price_3000',
                                  'cafe_avg_price_500',
                                  'cafe_avg_price_5000',
                                  'cafe_count_1000',
                                  'cafe_count_1000_na_price',
                                  'cafe_count_1000_price_1000',
                                  'cafe_count_1000_price_1500',
                                  'cafe_count_1000_price_2500',
                                  'cafe_count_1000_price_4000',
                                  'cafe_count_1000_price_500',
                                  'cafe_count_1000_price_high',
                                  'cafe_count_1500',
                                  'cafe_count_1500_na_price',
                                  'cafe_count_1500_price_1000',
                                  'cafe_count_1500_price_1500',
                                  'cafe_count_1500_price_2500',
                                  'cafe_count_1500_price_4000',
                                  'cafe_count_1500_price_500',
                                  'cafe_count_1500_price_high',
                                  'cafe_count_2000',
                                  'cafe_count_2000_na_price',
                                  'cafe_count_2000_price_1000',
                                  'cafe_count_2000_price_1500',
                                  'cafe_count_2000_price_2500',
                                  'cafe_count_2000_price_4000',
                                  'cafe_count_2000_price_500',
                                  'cafe_count_2000_price_high',
                                  'cafe_count_3000',
                                  'cafe_count_3000_na_price',
                                  'cafe_count_3000_price_1000',
                                  'cafe_count_3000_price_1500',
                                  'cafe_count_3000_price_2500',
                                  'cafe_count_3000_price_4000',
                                  'cafe_count_3000_price_500',
                                  'cafe_count_3000_price_high',
                                  'cafe_count_500',
                                  'cafe_count_500_na_price',
                                  'cafe_count_500_price_1000',
                                  'cafe_count_500_price_1500',
                                  'cafe_count_500_price_2500',
                                  'cafe_count_500_price_4000',
                                  'cafe_count_500_price_500',
                                  'cafe_count_500_price_high',
                                  'cafe_sum_1000_max_price_avg',
                                  'cafe_sum_1000_min_price_avg',
                                  'cafe_sum_1500_max_price_avg',
                                  'cafe_sum_1500_min_price_avg',
                                  'cafe_sum_2000_max_price_avg',
                                  'cafe_sum_2000_min_price_avg',
                                  'cafe_sum_3000_max_price_avg',
                                  'cafe_sum_3000_min_price_avg',
                                  'cafe_sum_5000_max_price_avg',
                                  'cafe_sum_5000_min_price_avg',
                                  'cafe_sum_500_max_price_avg',
                                  'cafe_sum_500_min_price_avg'], axis=1, inplace=True)

In [106]:
sorted(x_train.columns)

['0_13_all',
 '0_13_female',
 '0_13_male',
 '0_17_all',
 '0_17_female',
 '0_17_male',
 '0_6_all',
 '0_6_female',
 '0_6_male',
 '16_29_all',
 '16_29_female',
 '16_29_male',
 '7_14_all',
 '7_14_female',
 '7_14_male',
 'ID_big_road1',
 'ID_big_road2',
 'ID_bus_terminal',
 'ID_metro',
 'ID_railroad_station_avto',
 'ID_railroad_station_walk',
 'ID_railroad_terminal',
 'additional_education_km',
 'additional_education_raion',
 'area_m',
 'basketball_km',
 'big_church_count_1000',
 'big_church_count_1500',
 'big_church_count_2000',
 'big_church_count_3000',
 'big_church_count_500',
 'big_church_count_5000',
 'big_church_km',
 'big_market_km',
 'big_market_raion',
 'big_road1_1line',
 'big_road1_km',
 'big_road2_km',
 'build_count_1921-1945',
 'build_count_1946-1970',
 'build_count_1971-1995',
 'build_count_after_1995',
 'build_count_before_1920',
 'build_count_block',
 'build_count_brick',
 'build_count_foam',
 'build_count_frame',
 'build_count_mix',
 'build_count_monolith',
 'build_count_panel',
 'build_count_slag',
 'build_count_wood',
 'build_year',
 'bulvar_ring_km',
 'bus_terminal_avto_km',
 'catering_km',
 'cemetery_km',
 'children_preschool',
 'children_school',
 'church_count_1000',
 'church_count_1500',
 'church_count_2000',
 'church_count_3000',
 'church_count_500',
 'church_count_5000',
 'church_synagogue_km',
 'culture_objects_top_25',
 'culture_objects_top_25_raion',
 'day',
 'detention_facility_km',
 'detention_facility_raion',
 'ecology',
 'ekder_all',
 'ekder_female',
 'ekder_male',
 'exhibition_km',
 'female_f',
 'fitness_km',
 'floor',
 'full_all',
 'full_sq',
 'green_part_1000',
 'green_part_1500',
 'green_part_2000',
 'green_part_3000',
 'green_part_500',
 'green_part_5000',
 'green_zone_km',
 'green_zone_part',
 'healthcare_centers_raion',
 'hospice_morgue_km',
 'hospital_beds_raion',
 'ice_rink_km',
 'incineration_km',
 'incineration_raion',
 'indust_part',
 'industrial_km',
 'kindergarten_km',
 'kitch_sq',
 'kremlin_km',
 'leisure_count_1000',
 'leisure_count_1500',
 'leisure_count_2000',
 'leisure_count_3000',
 'leisure_count_500',
 'leisure_count_5000',
 'life_sq',
 'male_f',
 'market_count_1000',
 'market_count_1500',
 'market_count_2000',
 'market_count_3000',
 'market_count_500',
 'market_count_5000',
 'market_shop_km',
 'material',
 'max_floor',
 'metro_km_avto',
 'metro_km_walk',
 'metro_min_avto',
 'metro_min_walk',
 'mkad_km',
 'month',
 'mosque_count_1000',
 'mosque_count_1500',
 'mosque_count_2000',
 'mosque_count_3000',
 'mosque_count_500',
 'mosque_count_5000',
 'mosque_km',
 'museum_km',
 'nuclear_reactor_km',
 'nuclear_reactor_raion',
 'num_room',
 'office_count_1000',
 'office_count_1500',
 'office_count_2000',
 'office_count_3000',
 'office_count_500',
 'office_count_5000',
 'office_km',
 'office_raion',
 'office_sqm_1000',
 'office_sqm_1500',
 'office_sqm_2000',
 'office_sqm_3000',
 'office_sqm_500',
 'office_sqm_5000',
 'oil_chemistry_km',
 'oil_chemistry_raion',
 'park_km',
 'power_transmission_line_km',
 'preschool_education_centers_raion',
 'preschool_km',
 'preschool_quota',
 'product_type',
 'prom_part_1000',
 'prom_part_1500',
 'prom_part_2000',
 'prom_part_3000',
 'prom_part_500',
 'prom_part_5000',
 'public_healthcare_km',
 'public_transport_station_km',
 'public_transport_station_min_walk',
 'radiation_km',
 'radiation_raion',
 'railroad_1line',
 'railroad_km',
 'railroad_station_avto_km',
 'railroad_station_avto_min',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'railroad_terminal_raion',
 'raion_build_count_with_builddate_info',
 'raion_build_count_with_material_info',
 'raion_popul',
 'rel_floor',
 'rel_kitch_sq',
 'room_size',
 'sadovoe_km',
 'school_education_centers_raion',
 'school_education_centers_top_20_raion',
 'school_km',
 'school_quota',
 'shopping_centers_km',
 'shopping_centers_raion',
 'sport_count_1000',
 'sport_count_1500',
 'sport_count_2000',
 'sport_count_3000',
 'sport_count_500',
 'sport_count_5000',
 'sport_objects_raion',
 'stadium_km',
 'state',
 'sub_area',
 'swim_pool_km',
 'theater_km',
 'thermal_power_plant_km',
 'thermal_power_plant_raion',
 'trc_count_1000',
 'trc_count_1500',
 'trc_count_2000',
 'trc_count_3000',
 'trc_count_500',
 'trc_count_5000',
 'trc_sqm_1000',
 'trc_sqm_1500',
 'trc_sqm_2000',
 'trc_sqm_3000',
 'trc_sqm_500',
 'trc_sqm_5000',
 'ts_km',
 'ttk_km',
 'university_km',
 'university_top_20_raion',
 'water_1line',
 'water_km',
 'water_treatment_km',
 'work_all',
 'work_female',
 'work_male',
 'workplaces_km',
 'young_all',
 'young_female',
 'young_male',
 'zd_vokzaly_avto_km']

In [107]:
x_train = x_train.astype("float32")
y_train = y_train.astype("float32")

x_test = x_test.astype("float32")

In [110]:
x_train.shape[1]

228

In [111]:
batch_size = 16

model = keras.Sequential([
                                 
                          keras.layers.Dense(228, activation='relu', input_shape=(228,)),
                          keras.layers.Dense(228, activation='relu'),
                          keras.layers.Dense(128, activation='relu'),
                          keras.layers.Dense(64, activation='relu'),
                          keras.layers.Dense(32, activation='relu'),
                          keras.layers.Dense(1, activation='relu')
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics='accuracy')

In [112]:
model.fit(x_train, y_train, epochs=20, batch_size=batch_size)

Epoch 1/20
1905/1905 [==============================] - 9s 4ms/step - loss: 25780241301504.0000 - accuracy: 0.0000e+00
Epoch 2/20
1905/1905 [==============================] - 8s 4ms/step - loss: 23564816220160.0000 - accuracy: 0.0000e+00
Epoch 3/20
1905/1905 [==============================] - 9s 5ms/step - loss: 22671104409600.0000 - accuracy: 0.0000e+00
Epoch 4/20
1905/1905 [==============================] - 9s 4ms/step - loss: 22099722764288.0000 - accuracy: 0.0000e+00
Epoch 5/20
1905/1905 [==============================] - 9s 5ms/step - loss: 21575973732352.0000 - accuracy: 0.0000e+00
Epoch 6/20
1905/1905 [==============================] - 8s 4ms/step - loss: 21100058640384.0000 - accuracy: 0.0000e+00
Epoch 7/20
1905/1905 [==============================] - 8s 4ms/step - loss: 20787138396160.0000 - accuracy: 0.0000e+00
Epoch 8/20
1905/1905 [==============================] - 8s 4ms/step - loss: 20461144506368.0000 - accuracy: 0.0000e+00
Epoch 9/20
1905/1905 [==============================] - 8s 4ms/step - loss: 20349041246208.0000 - accuracy: 0.0000e+00
Epoch 10/20
1905/1905 [==============================] - 8s 4ms/step - loss: 19938261598208.0000 - accuracy: 0.0000e+00
Epoch 11/20
1905/1905 [==============================] - 8s 4ms/step - loss: 19916017106944.0000 - accuracy: 0.0000e+00
Epoch 12/20
1905/1905 [==============================] - 8s 4ms/step - loss: 19772532064256.0000 - accuracy: 0.0000e+00
Epoch 13/20
1905/1905 [==============================] - 8s 4ms/step - loss: 19612773122048.0000 - accuracy: 0.0000e+00
Epoch 14/20
1905/1905 [==============================] - 8s 4ms/step - loss: 19360745783296.0000 - accuracy: 0.0000e+00
Epoch 15/20
1905/1905 [==============================] - 8s 4ms/step - loss: 19295987826688.0000 - accuracy: 0.0000e+00
Epoch 16/20
1905/1905 [==============================] - 8s 4ms/step - loss: 19096255070208.0000 - accuracy: 0.0000e+00
Epoch 17/20
1905/1905 [==============================] - 8s 4ms/step - loss: 18933211987968.0000 - accuracy: 0.0000e+00
Epoch 18/20
1905/1905 [==============================] - 8s 4ms/step - loss: 18954101719040.0000 - accuracy: 0.0000e+00
Epoch 19/20
1905/1905 [==============================] - 8s 4ms/step - loss: 18915459596288.0000 - accuracy: 0.0000e+00
Epoch 20/20
1905/1905 [==============================] - 8s 4ms/step - loss: 18721712111616.0000 - accuracy: 0.0000e+00

In [75]:
y_pred = model.predict(x_test)