# Competition: Sberbank Russian Housing Market

Group Members:
* Bayan Ali
* Majid Sohrabi

Group: ISSA (Data Science)

# Data Preprocessing

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#load data
train = pd.read_csv('/content/drive/MyDrive/MLDM-Competition-HSE/Data/train.csv', parse_dates=['timestamp'])
test = pd.read_csv('/content/drive/MyDrive/MLDM-Competition-HSE/Data/test.csv', parse_dates=['timestamp'])

In [4]:
train[:5]

   id  timestamp  full_sq  ...  sport_count_5000  market_count_5000  price_doc
0   1 2011-08-20       43  ...                52                  4    5850000
1   2 2011-08-23       34  ...                66                 14    6000000
2   3 2011-08-27       43  ...                67                 10    5700000
3   4 2011-09-01       89  ...                26                  3   13100000
4   5 2011-09-05       77  ...               195                 14   16331452

[5 rows x 292 columns]

In [5]:
test[:5]

      id  timestamp  ...  sport_count_5000  market_count_5000
0  30474 2015-07-01  ...                14                  1
1  30475 2015-07-01  ...                12                  1
2  30476 2015-07-01  ...                71                 11
3  30477 2015-07-01  ...                 2                  0
4  30478 2015-07-01  ...                11                  1

[5 rows x 291 columns]

In [6]:
id_test = test.id
id_train = train.id

In [7]:
#preprocessing Data / cleaning Data
# Train Data
# 1.full_sq: total area in square meters, including loggias, balconies and other non-residential areas
# life_sq: living area in square meters, excluding loggias, balconies and other non-residential areas
# so life_sq <= full_sq and if life_sq > full_sq we will put NaN 
index = train[train.life_sq > train.full_sq].index
train.iloc[index]["life_sq"] = np.NaN
# 2. Put NaN when life_sq < 5
index = train[train.life_sq < 5].index
train.iloc[index]["life_sq"] = np.NaN
# 3. Put NaN when full_sq < 5
index = train[train.full_sq < 5].index
train.iloc[index]["full_sq"] = np.NaN
# 4. train.iloc[13117]["kitch_sq"] = 1970.0  # the value should be for build_year
train.iloc[13117]["build_year"] = train.iloc[13117]["kitch_sq"]
# 5. kitch_sq should be < life_sq so if kitch_sq >= life_sq ==> NaN
index = train[train.kitch_sq >= train.life_sq].index
train.iloc[index]["kitch_sq"] = np.NaN
# 6. if  num_room = 0 ==> num_room = NaN
index = train[train.num_room == 0].index 
train.iloc[index]["num_room"] = np.NaN
# 7. replace with NaN if num romm >= 6 
#index = [10076, 11621, 17764, 19390, 24007, 26713, 29172]
index = train.iloc[(train.num_room >= 6).values].index
train.iloc[index]["num_room"] = np.NaN
# 8. 
index = train[train.floor == 0].index
train.iloc[index]["floor"] = np.NaN
index = train[train.max_floor == 0].index
train.iloc[index]["max_floor"] = np.NaN
# 9. floor should be <= max floor
index = train[train.floor > train.max_floor].index
train.iloc[index]["max_floor"] = np.NaN
# 10. there are just 4 conditions
index = train.iloc[(train.state >= 5).values].index
train.iloc[index]["state"] = np.NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
# Test Data
# 1. Same in pint 1 for train data.
index = test[test.life_sq > test.full_sq].index
test.iloc[index]["life_sq"] = np.NaN
# 2. life_sq for these index [601,1896,2791] equal full_sq but need (.)
index = [601,1896,2791]
test.iloc[index]["life_sq"] = test.iloc[index]["full_sq"]
# 3. Put NaN when life_sq < 5
index = test[test.life_sq < 5].index
test.iloc[index]["life_sq"] = np.NaN
# 4. Put NaN when full_sq < 5
index = test[test.full_sq < 5].index
test.iloc[index]["full_sq"] = np.NaN
# 5. kitch_sq should be < life_sq so if kitch_sq >= life_sq ==> NaN
index = test[test.kitch_sq >= test.life_sq].index
test.iloc[index]["kitch_sq"] = np.NaN
# 6. if  num_room = 0 ==> num_room = NaN
index = test[test.num_room == 0].index 
test.iloc[index]["num_room"] = np.NaN
# 7. 
bad_index = [3174, 7313]
test.iloc[bad_index]["num_room"] = np.NaN
# 8.
index = test[test.max_floor == 0].index
test.iloc[index]["max_floor"] = np.NaN
index = test[test.floor == 0].index
test.iloc[index]["floor"] = np.NaN
# 9. 
index = test[test.floor > test.max_floor].index
test.iloc[index]["max_floor"] = np.NaN

# 10.
index = test.iloc[(test.state >= 5).values].index
test.iloc[index]["state"] = np.NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
train.product_type.value_counts(normalize= True)
test.product_type.value_counts(normalize= True)

Investment       0.655132
OwnerOccupier    0.344868
Name: product_type, dtype: float64

In [10]:
train['month'] = train.timestamp.dt.month
train['day'] = train.timestamp.dt.dayofweek

test['month'] = test.timestamp.dt.month
test['day'] = test.timestamp.dt.dayofweek

In [11]:
# Add some other feature engineering
train['rel_floor'] = train['floor'] / train['max_floor'].astype(float)
train['rel_kitch_sq'] = train['kitch_sq'] / train['full_sq'].astype(float)

test['rel_floor'] = test['floor'] / test['max_floor'].astype(float)
test['rel_kitch_sq'] = test['kitch_sq'] / test['full_sq'].astype(float)

train['room_size'] = train['life_sq'] / train['num_room'].astype(float)
test['room_size'] = test['life_sq'] / test['num_room'].astype(float)

In [12]:
y_train = train["price_doc"]
x_train = train.drop(["id", "timestamp", "price_doc"], axis=1)
x_test = test.drop(["id", "timestamp"], axis=1)

In [13]:
for c in x_train.columns:    
    if x_train[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()  ## Encode target labels with value between 0 and n_classes-1.
        lbl.fit(list(x_train[c].values))  # Fit label encoder.
        x_train[c] = lbl.transform(list(x_train[c].values)) # Fit label encoder and return encoded labels.

for c in x_test.columns:
    if x_test[c].dtype == 'object':
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(x_test[c].values)) 
        x_test[c] = lbl.transform(list(x_test[c].values))

# First Model

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV
import xgboost as xgb
from xgboost.sklearn import XGBRegressor

#No need to run this part of code

In [ ]:
xgb1 = XGBRegressor()
parameters = {'nthread':[5], #when use hyperthread, xgboost may become slower
              'objective':['reg:linear'],
              'learning_rate': [.01, .09], #so called `eta` value
              'max_depth': [7, 9],
              'min_child_weight': [4],
              'silent': [1],
              'subsample': [0.7],
              'colsample_bytree': [0.7],
              'n_estimators': [1000]}

In [ ]:
xgb_grid = GridSearchCV(xgb1,
                        parameters,
                        cv = 3,
                        n_jobs = 5,
                        verbose=True)

In [ ]:

xgb_grid.fit(x_train, y_train)

Fitting 3 folds for each of 4 candidates, totalling 12 fits

GridSearchCV(cv=3, estimator=XGBRegressor(), n_jobs=5,
             param_grid={'colsample_bytree': [0.7],
                         'learning_rate': [0.01, 0.09], 'max_depth': [7, 9],
                         'min_child_weight': [4], 'n_estimators': [1000],
                         'nthread': [5], 'objective': ['reg:linear'],
                         'silent': [1], 'subsample': [0.7]},
             verbose=True)

In [ ]:
print(xgb_grid.best_score_)
print(xgb_grid.best_params_)

0.6266358150679469
{'colsample_bytree': 0.7, 'learning_rate': 0.01, 'max_depth': 7, 'min_child_weight': 4, 'n_estimators': 1000, 'nthread': 5, 'objective': 'reg:linear', 'silent': 1, 'subsample': 0.7}

# First Trial

In [ ]:
#First trial
xgb1 = XGBRegressor(colsample_bytre = 0.7, 
  learning_rate = 0.03,
  max_depth = 5,
  min_child_weight = 4,
  n_estimators = 500,
  nthread = 4, 
  objective = 'reg:linear',
  silent = 1, 
  subsample = 0.7)

In [ ]:
xgb1.fit(x_train,y_train)

XGBRegressor(colsample_bytre=0.7, learning_rate=0.03, max_depth=5,
             min_child_weight=4, n_estimators=500, nthread=4, silent=1,
             subsample=0.7)

In [ ]:
score = xgb1.score(x_train, y_train)  
print("Training score: ", score)

Training score:  0.8289546516644957

In [ ]:
y_predict = xgb1.predict(x_test)
#y_predict = np.expm1(y_predict * 0.99)
output = pd.DataFrame({'id': id_test, 'price_doc': y_predict})
output.head()

      id  price_doc
0  30474  5727185.5
1  30475  8493160.0
2  30476  5508238.5
3  30477  5940526.5
4  30478  5209227.5

In [ ]:
output.to_csv('xgb1.csv', index=False)

# Second trial

In [ ]:
xgb2 = XGBRegressor(colsample_bytree = 0.7, 
                    learning_rate = 0.01, 
                    max_depth = 7,
                    min_child_weight = 4,
                    n_estimators  = 1000,
                    nthread =  5,
                    objective = 'reg:linear',
                    silent = 1,
                    subsample = 0.7)

In [ ]:
xgb2.fit(x_train,y_train)

XGBRegressor(colsample_bytree=0.7, learning_rate=0.01, max_depth=7,
             min_child_weight=4, n_estimators=1000, nthread=5, silent=1,
             subsample=0.7)

In [ ]:

score = xgb2.score(x_train, y_train)  
print("Training score: ", score)

Training score:  0.8712011076776839

In [ ]:
y_predict = xgb2.predict(x_test)
output = pd.DataFrame({'id': id_test, 'price_doc': y_predict})
output.head()

      id  price_doc
0  30474  5495654.5
1  30475  8389220.0
2  30476  5525753.5
3  30477  5843437.0
4  30478  5117540.5

In [ ]:
output.to_csv('xgb2.csv', index=False)

# Neural Network

In [14]:
import keras
import tensorflow as tf
import numpy as np
import pandas as pd

In [19]:
'''

def convert_to_float(x):
    try:
        return np.float(x)
    except:
        return np.nan

x_train = convert_to_float(x_train)
x_test = convert_to_float(x_test)
y_train = convert_to_float(y_train)

'''

In [15]:
# Convert y_train to DataFrame
y_train = pd.DataFrame(y_train)
type(y_train)

pandas.core.frame.DataFrame

In [16]:
# Replace NaN with 0
x_train = x_train.replace(np.nan, 0.0)
x_test = x_test.replace(np.nan, 0.0)
y_train = y_train.replace(np.nan, 0.0)

In [17]:
x_train.head()

   full_sq  life_sq  floor  max_floor  ...  day  rel_floor  rel_kitch_sq  room_size
0       43     27.0    4.0        0.0  ...    5        0.0           0.0        0.0
1       34     19.0    3.0        0.0  ...    1        0.0           0.0        0.0
2       43     29.0    2.0        0.0  ...    5        0.0           0.0        0.0
3       89     50.0    9.0        0.0  ...    3        0.0           0.0        0.0
4       77     77.0    4.0        0.0  ...    0        0.0           0.0        0.0

[5 rows x 294 columns]

In [18]:
x_train = x_train.astype("float32")
y_train = y_train.astype("float32")

x_test = x_test.astype("float32")

In [19]:
batch_size = 16

model = keras.Sequential([
                                 
                                 keras.layers.Dense(294, activation='relu', input_shape=(294,)),
                                 keras.layers.Dense(294, activation='relu'),
                                 keras.layers.Dense(1, activation='relu')
])

model.compile(optimizer='adam', loss='mean_squared_error')

In [20]:
model.fit(x_train, y_train, epochs=30, batch_size=batch_size)

Epoch 1/30
1905/1905 [==============================] - 6s 3ms/step - loss: nan
Epoch 2/30
1905/1905 [==============================] - 6s 3ms/step - loss: nan
Epoch 3/30
 416/1905 [=====>........................] - ETA: 4s - loss: nan

KeyboardInterrupt: ignored